<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 17/10/2020, 23:16</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first time doing web development. Django is fun!</p>
        </div>

        <div>
            <p>published: 17/10/2020, 23:16</p>
            <h2><a href="">My second post</a></h2>
            <p>Want to make small project related to django in only 4 days!!</p>
        </div>
    </body>
</html>


